* {
  box-sizing: border-box;
}

.main{
	width: 100%;
	margin: auto;
}
.column{
	float: left;
	width: 25%;
	
}
.row {
  margin: 8px -16px;
}
.row,
.row > .column {
  padding: 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
.btn {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}

.small{
	width: 100px;
	background-color: blue; 
	float:left;
	border: none;
}
.btn, .small, .medium, .large, .crispy, .stuffed, .glutenfree, .pepperoni, .mushrooms, .onions, .sausage, .bacon, .extracheese, .blackolives, .greenpepper, .pineapple, .spinach {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}


.success {
  border-color: #ff9800;
  color: green;
}
.info:hover {
  background: #2196F3;
  color: white;
}
